{% extends "base.html.twig" %}

{% block title %}Document "{{ entity.titre }}"{% endblock %}

{% block content %}
    <p>&larr;&nbsp;<a href="/index.php">Retourner à la liste</a></p>

    {% if entity %}
        <h2>{{ entity.titre }}</h2>
        <p><strong>Auteur :</strong> {{ entity.auteur }}</p>
        <p><strong>Référence :</strong> {{ entity._id }}</p>
    {% else %}
        <p>Aucun document trouvé.</p>
    {% endif %}
{% endblock %}
